$beige: rgba(250, 241, 227, 0.7);
$beige-clair: rgba(250, 241, 227, 0.7);
$beige-fonce: rgb(168, 158, 158);
$gris: rgb(75, 75, 75);
$gris-clair: rgb(105, 105, 105);
@mixin border {
  border: 4px ridge $beige-fonce;
  box-shadow: none !important;
}
@mixin dim100 {
  width: 100% !important;
  height: 100% !important;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin bckgrndBeige {
  background-color: $beige;
}
@mixin boxShadow {
  box-shadow: 1px 3px 5px 2px $beige-fonce;
  transition: 0.3s ease-in-out;
}
@mixin btnHover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 3px 5px 2px rgb(105, 105, 105);
}
@mixin tailleMax {
  @media (min-width: 1700px) {
    margin-top: 30px;
  }
  @media (min-width: 1800px) {
    height: 600px;
  }
  @media (min-width: 2900px) {
    margin-top: 150px;
    height: 800px;
  }
  @media (min-width: 3300px) {
    margin-top: 250px;
    height: 1200px;
  }
}
@mixin transition {
  transition: 0.3s ease-in-out;
}

.backgrndPanier {
  background-image: url("../images/font1.jpg");
}
.backgrndProduit {
  background-image: url("../images/font2.jpg");
  main .error {
    background-color: rgba(255, 255, 255, 0.5);
    @include boxShadow;
  }
}
.backgrndIndex {
  background-image: url("../images/font3.jpg");
  main .error {
    background-color: rgba(255, 255, 255, 0.5);
    @include boxShadow;
  }
}
.backgrndCommande {
  background-image: url("../images/font4.jpg");
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0 auto 0 auto;
  min-width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  p {
    word-wrap: break-word;
  }
  a,
  a:active,
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }
  .invisible {
    display: none !important;
  }
  .retour {
    @include transition;
    font-style: italic;
    font-weight: bold;
    width: 150px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    bottom: 540px;
    right: 340px;
    @media (max-width: 1020px) {
      right: 240px;
    }
    @media (max-width: 850px) {
      right: 190px;
    }
    @media (max-width: 700px) {
      bottom: 490px;
      right: 0;
      left: 25px;
      font-size: 90%;
    }
    span {
      font-size: 150%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      i {
        font-size: 70%;
      }
    }
  }
  .message {
    font-size: 130% !important;
    line-height: 30px;
    font-weight: bold !important;
    margin: 50px 0 0 0 !important;
    text-align: center;
  }
  .message-conteneur {
    width: 300px;
  }
  .error {
    padding-top: 30px;
    width: 90%;
    min-height: 200px;
    margin: 30px 0 30px 0;
    p {
      text-align: center;
    }
    p:nth-child(1) {
      font-size: 120%;
      font-weight: bold;
      padding-bottom: 10px;
    }
    p:nth-child(2),
    p:nth-child(3) {
      font-size: 105%;
      color: rgb(235, 19, 19);
    }
  }
}
header {
  align-items: center;
  @include bckgrndBeige;
  @include flexColumn;
  figure {
    width: 55%;
    margin: 0;
    @media (min-width: 400px) {
      width: 90%;
    }
    img {
      width: 160px;
      height: 75px;
      @media (min-width: 600px) {
        width: 190px;
        height: 95px;
      }
    }
  }
  nav {
    background-color: white;
    @include boxShadow;
    padding: 16px 0 16px 0;
    font-size: 110%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    @media (min-width: 700px) {
      font-size: 130%;
    }
    @media (min-width: 1000px) {
      font-size: 150%;
    }
    a,
    a:active,
    a:visited {
      color: $gris-clair !important;
      font-weight: bold;
    }
    a:hover {
      color: black !important;
      i {
        color: black !important;
      }
    }
    a {
      i {
        font-size: 90%;
        margin-left: 7px;
        color: $gris-clair;
        @include transition;
      }
      .fa-shopping-bag {
        font-size: 110%;
      }
      span {
        margin-left: 7px;
        color: red;
        font-size: 100%;
      }
    }
  }
}
.div-conteneur {
  @include flexColumn;
  align-items: center;
  main {
    background-color: rgba(255, 255, 255, 0.5);
    width: 97%;
    margin: 40px 0 40px 0;
    @media (min-width: 520px) {
      @include boxShadow;
      width: 90%;
      margin: 40px 0 40px 0;
    }
    @media (min-width: 1350px) {
      width: 80%;
      margin: 50px 0 50px 0;
    }
  }
}
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  @include tailleMax;
  @include flexColumn;
  align-items: center;
  padding: 20px 0 40px 0;
  min-height: 350px;
  form {
    @include flexColumn;
    align-items: center;
    font-size: 110%;
    width: 90%;
    h3 {
      text-align: center;
      font-size: 180%;
      width: 93%;
      padding-bottom: 10px;
    }
    input {
      @include transition;
      width: 90%;
      height: 40px;
      border: 3px solid grey;
      border-radius: 5px;
      padding: 10px 0 0 10px;
      font-size: 90%;
      margin-top: 20px;
      @media (min-width: 750px) {
        width: 70%;
      }
      @media (min-width: 950px) {
        width: 50%;
      }
      &:focus {
        background-color: rgb(227, 234, 248);
        border: 3px solid black;
      }
      &:hover {
        font-weight: bold;
        border: 3px solid black;
      }
    }
    #btnValider {
      margin-top: 40px !important;
      font-size: 110% !important;
      background-color: $gris;
      color: white;
      font-weight: bold;
      padding-bottom: 5px;
      @include transition;
      height: 50px !important;
      border: 3px solid $gris !important;
      &:hover {
        @include btnHover;
      }
      &:focus {
        background-color: $gris !important;
      }
    }
  }
  #conteneur {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 500px) {
      width: 80%;
      @include transition;
    }
    @media (min-width: 750px) {
      width: 95%;
    }
    .box {
      background-color: white;
      margin: 20px 20px 20px 20px;
      border-radius: 20px;
      @include boxShadow;
      &:hover {
        @include btnHover;
      }
      a figure {
        margin: 0;
        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 265px;
          height: 150px;
          @media (min-width: 330px) {
            width: 305px;
            height: 170px;
          }
          @media (min-width: 400px) {
            width: 365px;
            height: 220px;
          }
        }
      }
      .box-txt {
        padding: 5px 7px 5px 7px;
        font-size: 100%;
        > div {
          p,
          h3 {
            margin: 0;
            padding: 5px 7px 5px 7px;
          }
          h3 {
            text-transform: uppercase;
            font-size: 120%;
            font-weight: normal;
          }
          p:nth-child(2) {
            font-weight: bold;
            font-size: 130%;
          }
        }
      }
    }
    .box-produit {
      @include bckgrndBeige;
      @include flexColumn;
      justify-content: center;
      margin: 20px 20px 20px 20px;
      border-radius: 0 !important;
      @include dim100;
      @include border;
      @media (min-width: 750px) {
        flex-direction: initial;
        justify-content: space-between;
        @include transition;
      }
      &:hover {
        opacity: 1 !important;
        box-shadow: none !important;
        cursor: auto !important;
      }
      @media (min-width: 1050px) {
        width: 80% !important;
      }
      a figure {
        height: 100%;
        @media (min-width: 750px) {
          width: 450px;
        }
        img {
          @include dim100;
          border-radius: 0 !important;
        }
      }
      .box-txt {
        @include flexColumn;
        align-items: center;
        @media (min-width: 400px) {
          font-size: 120% !important;
          @include transition;
        }
        @media (min-width: 750px) {
          font-size: 100% !important;
          @include transition;
        }
        @media (min-width: 850px) {
          font-size: 120% !important;
          @include transition;
        }
        > div {
          @include flexColumn;
          margin: 10px 10px 10px 10px;
          @media (min-width: 750px) {
            width: 100% !important;
          }
          @media (min-width: 850px) {
            font-size: 100%;
            width: 90% !important;
          }
          @media (min-width: 1000px) {
            width: 80% !important;
          }
          p {
            font-size: 90%;
            padding: 7px 7px 7px 7px !important;
          }
          p:nth-child(2) {
            font-size: 120%;
          }
          select:focus {
            outline: none;
          }
          button {
            margin: 5px 0 10px 5px;
            width: 95%;
            height: 40px;
            font-size: 90%;
            background-color: $gris;
            color: white;
            font-weight: bold;
            margin-top: 15px;
            @include transition;

            &:hover {
              @include btnHover;
            }
          }
        }
      }
    }
    .box-panier {
      @include bckgrndBeige;
      width: 95% !important;
      height: 105px !important;
      display: flex;
      margin: 20px 10px 5px 10px !important;
      border-radius: 22px !important;
      @include border;
      @media (min-width: 400px) {
        width: 80% !important;
      }
      @media (min-width: 900px) {
        width: 85% !important;
      }
      @media (min-width: 960px) {
        height: 100px !important;
      }
      @media (min-width: 1050px) {
        width: 80% !important;
      }
      a figure {
        @include dim100;
        margin: 0;
        @media (min-width: 350px) {
          width: 150px !important;
        }
        img {
          @include dim100;
          border-top-right-radius: 0 !important;
          border-top-left-radius: 18px !important;
          border-bottom-left-radius: 18px !important;
        }
      }
      .box-txt {
        font-size: 65% !important;
        @media (min-width: 350px) {
          width: 100%;
        }
        @media (min-width: 570px) {
          font-size: 80% !important;
        }
        @media (min-width: 700px) {
          font-size: 85% !important;
        }
        @media (min-width: 800px) {
          font-size: 80% !important;
        }
        > div {
          font-size: 90%;
          width: 105px;
          @include flexColumn;
          justify-content: space-between;
          @media (min-width: 350px) {
            width: 100%;
          }
          @media (min-width: 800px) {
            display: flex;
            flex-direction: initial;
            height: 100%;
            align-items: center;
          }
          @media (min-width: 950px) {
            font-size: 120%;
          }
          @media (min-width: 1050px) {
            font-size: 130%;
          }
          h3,
          p {
            padding: 5px 0 2px 0 !important;
            @media (min-width: 500px) {
              padding: 5px 10px 2px 10px !important;
            }
          }
          h3 {
            overflow: hidden;
            font-size: 130% !important;
            width: 100px;
            @media (min-width: 550px) {
              width: 190px;
            }
            @media (min-width: 950px) {
              width: 260px;
            }
          }
          p:nth-child(2) {
            font-size: 140%;
            width: 80px;
          }
          p:nth-child(2)::after {
            content: " €";
          }
          .nbpanier {
            font-size: 140%;
            font-weight: bold;
            color: red;
            text-shadow: 1px 2px 1px white;
          }
        }
      }
    }
  }
  #conteneur-panier {
    width: 95%;
    min-height: 200px;
    @media (min-width: 400px) {
      width: 80%;
    }
    @media (min-width: 1050px) {
      width: 75%;
    }
    p:nth-child(1) {
      margin: 20px 0 0 10px;
      font-size: 120%;
      font-weight: bold;
    }
    button {
      width: 110px;
      height: 30px;
      border-radius: 20px;
      margin: 20px 10px 10px 10px;
      font-size: 75%;
      font-weight: bold;
      border: none;
      color: white;
      background-color: $gris;
      @include boxShadow;
      @media (min-width: 500px) {
        width: 130px;
        font-size: 85%;
      }
      &:hover {
        @include btnHover;
      }
    }
  }
  #conteneur-commande {
    @include flexColumn;
    align-items: center;
    p:nth-child(1) {
      text-align: center;
    }
    p:nth-child(2),
    p:nth-child(3) {
      font-size: 120%;
      text-align: center;
    }
    p:nth-child(2) {
      margin-top: 50px;
    }
  }
}
footer {
  box-shadow: 1px -2px 5px 2px $beige-fonce;
  @include tailleMax;
  @include bckgrndBeige;
  min-height: 200px;
}
