@charset "UTF-8";
.b3 main .error {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 3px 5px 2px #a89e9e;
  transition: 0.3s ease-in-out;
}

.b1 {
  background-image: url("../images/font1.jpg");
}

.b2 {
  background-image: url("../images/font2.jpg");
}

.b3 {
  background-image: url("../images/font3.jpg");
}

.b4 {
  background-image: url("../images/font4.jpg");
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0 auto 0 auto;
  min-width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
body p {
  word-wrap: break-word;
}
body a,
body a:active,
body a:visited,
body a:hover {
  color: black;
  text-decoration: none;
}
body .invisible {
  display: none !important;
}
body .retour {
  transition: 0.3s ease-in-out;
  font-style: italic;
  font-weight: bold;
  width: 150px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  bottom: 540px;
  right: 340px;
}
@media (max-width: 1020px) {
  body .retour {
    right: 240px;
  }
}
@media (max-width: 850px) {
  body .retour {
    right: 190px;
  }
}
@media (max-width: 700px) {
  body .retour {
    bottom: 490px;
    right: 0;
    left: 25px;
    font-size: 90%;
  }
}
body .retour span {
  font-size: 150%;
  opacity: 0.7;
}
body .retour span:hover {
  opacity: 1;
  cursor: pointer;
}
body .retour span i {
  font-size: 70%;
}
body .message {
  font-size: 130% !important;
  line-height: 30px;
  font-weight: bold !important;
  margin: 50px 0 0 0 !important;
  text-align: center;
}
body .message-conteneur {
  width: 300px;
}
body .error {
  padding-top: 30px;
  width: 90%;
  min-height: 200px;
  margin: 30px 0 30px 0;
}
body .error p {
  text-align: center;
}
body .error p:nth-child(1) {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;
}
body .error p:nth-child(2),
body .error p:nth-child(3) {
  font-size: 105%;
  color: #eb1313;
}

header {
  align-items: center;
  background-color: rgba(250, 241, 227, 0.7);
  display: flex;
  flex-direction: column;
}
header figure {
  width: 55%;
  margin: 0;
}
@media (min-width: 400px) {
  header figure {
    width: 90%;
  }
}
header figure img {
  width: 160px;
  height: 75px;
}
@media (min-width: 600px) {
  header figure img {
    width: 190px;
    height: 95px;
  }
}
header nav {
  background-color: white;
  box-shadow: 1px 3px 5px 2px #a89e9e;
  transition: 0.3s ease-in-out;
  padding: 16px 0 16px 0;
  font-size: 110%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 700px) {
  header nav {
    font-size: 130%;
  }
}
@media (min-width: 1000px) {
  header nav {
    font-size: 150%;
  }
}
header nav a,
header nav a:active,
header nav a:visited {
  color: dimgray !important;
  font-weight: bold;
}
header nav a:hover {
  color: black !important;
}
header nav a:hover i {
  color: black !important;
}
header nav a i {
  font-size: 90%;
  margin-left: 7px;
  color: dimgray;
  transition: 0.3s ease-in-out;
}
header nav a .fa-shopping-bag {
  font-size: 110%;
}
header nav a span {
  margin-left: 7px;
  color: red;
  font-size: 100%;
}

.div-conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-conteneur main {
  background-color: rgba(255, 255, 255, 0.5);
  width: 97%;
  margin: 40px 0 40px 0;
}
@media (min-width: 520px) {
  .div-conteneur main {
    box-shadow: 1px 3px 5px 2px #a89e9e;
    transition: 0.3s ease-in-out;
    width: 90%;
    margin: 40px 0 40px 0;
  }
}
@media (min-width: 1350px) {
  .div-conteneur main {
    width: 80%;
    margin: 50px 0 50px 0;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px 0;
  min-height: 350px;
}
@media (min-width: 1700px) {
  main {
    margin-top: 30px;
  }
}
@media (min-width: 1800px) {
  main {
    height: 600px;
  }
}
@media (min-width: 2900px) {
  main {
    margin-top: 150px;
    height: 800px;
  }
}
@media (min-width: 3300px) {
  main {
    margin-top: 250px;
    height: 1200px;
  }
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 110%;
  width: 90%;
}
main form h3 {
  text-align: center;
  font-size: 180%;
  width: 93%;
  padding-bottom: 10px;
}
main form input {
  transition: 0.3s ease-in-out;
  width: 90%;
  height: 40px;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 10px 0 0 10px;
  font-size: 90%;
  margin-top: 20px;
}
@media (min-width: 750px) {
  main form input {
    width: 70%;
  }
}
@media (min-width: 950px) {
  main form input {
    width: 50%;
  }
}
main form input:focus {
  background-color: #e3eaf8;
  border: 3px solid black;
}
main form input:hover {
  font-weight: bold;
  border: 3px solid black;
}
main form #btnValider {
  margin-top: 40px !important;
  font-size: 110% !important;
  background-color: #4b4b4b;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  transition: 0.3s ease-in-out;
  height: 50px !important;
  border: 3px solid #4b4b4b !important;
}
main form #btnValider:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 3px 5px 2px dimgray;
}
main form #btnValider:focus {
  background-color: #4b4b4b !important;
}
main #conteneur {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  main #conteneur {
    width: 80%;
    transition: 0.3s ease-in-out;
  }
}
@media (min-width: 750px) {
  main #conteneur {
    width: 95%;
  }
}
main #conteneur .box {
  background-color: white;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px 2px #a89e9e;
  transition: 0.3s ease-in-out;
}
main #conteneur .box:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 3px 5px 2px dimgray;
}
main #conteneur .box a figure {
  margin: 0;
}
main #conteneur .box a figure img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 265px;
  height: 150px;
}
@media (min-width: 330px) {
  main #conteneur .box a figure img {
    width: 305px;
    height: 170px;
  }
}
@media (min-width: 400px) {
  main #conteneur .box a figure img {
    width: 365px;
    height: 220px;
  }
}
main #conteneur .box .box-txt {
  padding: 5px 7px 5px 7px;
  font-size: 100%;
}
main #conteneur .box .box-txt > div p,
main #conteneur .box .box-txt > div h3 {
  margin: 0;
  padding: 5px 7px 5px 7px;
}
main #conteneur .box .box-txt > div h3 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: normal;
}
main #conteneur .box .box-txt > div p:nth-child(2) {
  font-weight: bold;
  font-size: 130%;
}
main #conteneur .box-produit {
  background-color: rgba(250, 241, 227, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 4px ridge #a89e9e;
  box-shadow: none !important;
}
@media (min-width: 750px) {
  main #conteneur .box-produit {
    flex-direction: initial;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
  }
}
main #conteneur .box-produit:hover {
  opacity: 1 !important;
  box-shadow: none !important;
  cursor: auto !important;
}
@media (min-width: 1050px) {
  main #conteneur .box-produit {
    width: 80% !important;
  }
}
main #conteneur .box-produit a figure {
  height: 100%;
}
@media (min-width: 750px) {
  main #conteneur .box-produit a figure {
    width: 450px;
  }
}
main #conteneur .box-produit a figure img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}
main #conteneur .box-produit .box-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 400px) {
  main #conteneur .box-produit .box-txt {
    font-size: 120% !important;
    transition: 0.3s ease-in-out;
  }
}
@media (min-width: 750px) {
  main #conteneur .box-produit .box-txt {
    font-size: 100% !important;
    transition: 0.3s ease-in-out;
  }
}
@media (min-width: 850px) {
  main #conteneur .box-produit .box-txt {
    font-size: 120% !important;
    transition: 0.3s ease-in-out;
  }
}
main #conteneur .box-produit .box-txt > div {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}
@media (min-width: 750px) {
  main #conteneur .box-produit .box-txt > div {
    width: 100% !important;
  }
}
@media (min-width: 850px) {
  main #conteneur .box-produit .box-txt > div {
    font-size: 100%;
    width: 90% !important;
  }
}
@media (min-width: 1000px) {
  main #conteneur .box-produit .box-txt > div {
    width: 80% !important;
  }
}
main #conteneur .box-produit .box-txt > div p {
  font-size: 90%;
  padding: 7px 7px 7px 7px !important;
}
main #conteneur .box-produit .box-txt > div p:nth-child(2) {
  font-size: 120%;
}
main #conteneur .box-produit .box-txt > div select:focus {
  outline: none;
}
main #conteneur .box-produit .box-txt > div button {
  margin: 5px 0 10px 5px;
  width: 95%;
  height: 40px;
  font-size: 90%;
  background-color: #4b4b4b;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}
main #conteneur .box-produit .box-txt > div button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 3px 5px 2px dimgray;
}
main #conteneur .box-panier {
  background-color: rgba(250, 241, 227, 0.7);
  width: 95% !important;
  height: 105px !important;
  display: flex;
  margin: 20px 10px 5px 10px !important;
  border-radius: 22px !important;
  border: 4px ridge #a89e9e;
  box-shadow: none !important;
}
@media (min-width: 400px) {
  main #conteneur .box-panier {
    width: 80% !important;
  }
}
@media (min-width: 900px) {
  main #conteneur .box-panier {
    width: 85% !important;
  }
}
@media (min-width: 960px) {
  main #conteneur .box-panier {
    height: 100px !important;
  }
}
@media (min-width: 1050px) {
  main #conteneur .box-panier {
    width: 80% !important;
  }
}
main #conteneur .box-panier a figure {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}
@media (min-width: 350px) {
  main #conteneur .box-panier a figure {
    width: 150px !important;
  }
}
main #conteneur .box-panier a figure img {
  width: 100% !important;
  height: 100% !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 18px !important;
  border-bottom-left-radius: 18px !important;
}
main #conteneur .box-panier .box-txt {
  font-size: 65% !important;
}
@media (min-width: 350px) {
  main #conteneur .box-panier .box-txt {
    width: 100%;
  }
}
@media (min-width: 570px) {
  main #conteneur .box-panier .box-txt {
    font-size: 80% !important;
  }
}
@media (min-width: 700px) {
  main #conteneur .box-panier .box-txt {
    font-size: 85% !important;
  }
}
@media (min-width: 800px) {
  main #conteneur .box-panier .box-txt {
    font-size: 80% !important;
  }
}
main #conteneur .box-panier .box-txt > div {
  font-size: 90%;
  width: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 350px) {
  main #conteneur .box-panier .box-txt > div {
    width: 100%;
  }
}
@media (min-width: 800px) {
  main #conteneur .box-panier .box-txt > div {
    display: flex;
    flex-direction: initial;
    height: 100%;
    align-items: center;
  }
}
@media (min-width: 950px) {
  main #conteneur .box-panier .box-txt > div {
    font-size: 120%;
  }
}
@media (min-width: 1050px) {
  main #conteneur .box-panier .box-txt > div {
    font-size: 130%;
  }
}
main #conteneur .box-panier .box-txt > div h3,
main #conteneur .box-panier .box-txt > div p {
  padding: 5px 0 2px 0 !important;
}
@media (min-width: 500px) {
  main #conteneur .box-panier .box-txt > div h3,
main #conteneur .box-panier .box-txt > div p {
    padding: 5px 10px 2px 10px !important;
  }
}
main #conteneur .box-panier .box-txt > div h3 {
  overflow: hidden;
  font-size: 130% !important;
  width: 100px;
}
@media (min-width: 550px) {
  main #conteneur .box-panier .box-txt > div h3 {
    width: 190px;
  }
}
@media (min-width: 950px) {
  main #conteneur .box-panier .box-txt > div h3 {
    width: 260px;
  }
}
main #conteneur .box-panier .box-txt > div p:nth-child(2) {
  font-size: 140%;
  width: 80px;
}
main #conteneur .box-panier .box-txt > div p:nth-child(2)::after {
  content: " €";
}
main #conteneur .box-panier .box-txt > div .nbpanier {
  font-size: 140%;
  font-weight: bold;
  color: red;
  text-shadow: 1px 2px 1px white;
}
main #conteneur-panier {
  width: 95%;
  min-height: 200px;
}
@media (min-width: 400px) {
  main #conteneur-panier {
    width: 80%;
  }
}
@media (min-width: 1050px) {
  main #conteneur-panier {
    width: 75%;
  }
}
main #conteneur-panier p:nth-child(1) {
  margin: 20px 0 0 10px;
  font-size: 120%;
  font-weight: bold;
}
main #conteneur-panier button {
  width: 110px;
  height: 30px;
  border-radius: 20px;
  margin: 20px 10px 10px 10px;
  font-size: 75%;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #4b4b4b;
  box-shadow: 1px 3px 5px 2px #a89e9e;
  transition: 0.3s ease-in-out;
}
@media (min-width: 500px) {
  main #conteneur-panier button {
    width: 130px;
    font-size: 85%;
  }
}
main #conteneur-panier button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 1px 3px 5px 2px dimgray;
}
main #conteneur-commande {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #conteneur-commande p:nth-child(1) {
  text-align: center;
}
main #conteneur-commande p:nth-child(2),
main #conteneur-commande p:nth-child(3) {
  font-size: 120%;
  text-align: center;
}
main #conteneur-commande p:nth-child(2) {
  margin-top: 50px;
}

footer {
  box-shadow: 1px -2px 5px 2px #a89e9e;
  background-color: rgba(250, 241, 227, 0.7);
  min-height: 200px;
}
@media (min-width: 1700px) {
  footer {
    margin-top: 30px;
  }
}
@media (min-width: 1800px) {
  footer {
    height: 600px;
  }
}
@media (min-width: 2900px) {
  footer {
    margin-top: 150px;
    height: 800px;
  }
}
@media (min-width: 3300px) {
  footer {
    margin-top: 250px;
    height: 1200px;
  }
}/*# sourceMappingURL=style.css.map */